<!--mii_ang/pages/events/event-apply.wxml-->
<view class="container">
  <view>
    <view class="event-title">
    <text>{{name}}</text>
    </view>
    <view class="event-time">
      <view>{{start}} - {{end}}</view>
      <!-- <view></view> -->
    </view>
  </view>
  
  <view class="form-title">请填写报名资料：</view>
  <form bindsubmit="apply">
    <view class="form-container">
      <view class="surname-container">  
        <text class="label">姓氏*</text><input class="input" name="surname" placeholder="请输入姓氏"></input>
      </view>
      <view class="firstname-container">  
        <text class="label">名字*</text><input class="input" name="firstname" placeholder="请输入名字"></input>
      </view>
      <view class="phone-container">  
        <text class="label">联系电话*</text><input class="long-input" name="phone" placeholder="请输入联系电话"></input>
      </view>
      <view class="email-container">  
        <text class="label">Email</text><input class="long-input" name="email" placeholder="请输入email"></input>
      </view>
    </view>
    <view class="cost">活动费用：</view>
    <view class='cost_num'>${{cost}}</view>
    <view class="payment-info-bg"></view>
    <view class="payment-info-container">
      <view class="info-line1"><span class="info-light">付款方式：</span></view>
      <view class="info-line2">1. <span class="underline">转账:</span><span class="info-light">交付活动费用至以下账号</span></view>
      <view class="info-line3"><span>BSB* {{bsb}}</span></view>
      <view class="info-line3"><span>ACC* {{acc}}</span></view>
      <view class="info-line3"><span>NAME* {{acc_name}}</span></view>
      <view class="info-line4">2. <span class="underline">转账屏幕截图:</span><span class="info-light">转账完成后对屏幕截图</span></view>
      <view class="info-line4">3. <span class="underline">联系客服:</span><span class="info-light">将屏幕截图发送至客服确认报名</span></view>
    </view>
    <view class="confirm"><button formType="submit" class="submit-button">确 认 报 名</button></view>
  </form>
</view>
