<import src="../../template/Toast.wxml"></import>
<template is="toast" data="{{toast:toast}}"></template>
<import src="../../template/Getcard.wxml"></import>
<template is="Getcard" data="{{Gcard:Gcard}}"></template>
<import src="../../template/input.wxml"></import>
<template is="inputs" data="{{input:input}}"></template>
<import src="../../template/TimeSlot.wxml"></import>
<template is="TimeSlot" data="{{TimeSlot:TimeSlot}}"></template>
<view class="container">
    <navigator url="/mii_ang/pages/detail/detail?gid={{goodsInfo.id}}">
        <view class="list-item {{item.type}}">
            <image class="list-item-images" src="{{goodsInfo.attachurl}}{{goodsInfo.titlepic}}"></image>
            <view class="list-item-rigth">
                <view class="list-item-text">
                    <view class="list-item-title">{{goodsInfo.goodsname}}</view>
                    <view class="list-item-info">{{goodsInfo.summary}}</view>
                </view>
                <view class="list-item-picer">
          $ {{goodsInfo.price}}
          </view>
            </view>
        </view>
    </navigator>
    <form reportSubmit bindsubmit="SaveBook">
        <view class="inputBox">
            <view class="input-list">
                <view class="l-title">
          {{Pageinfo.book_Tname.length==0?'姓名':Pageinfo.book_Tname}}
          <strong>*</strong>
                </view>
                <input bindinput="uname" class="r-input" id="name" placeholder="请输入{{Pageinfo.book_Tname.length==0?'姓名':Pageinfo.book_Tname}}" placeholderClass="placeholder-class" value="{{uname}}"></input>
            </view>
            <view class="input-list">
                <view class="l-title">
          {{Pageinfo.book_Tphone.length==0?'联系电话':Pageinfo.book_Tphone}}
          <strong>*</strong>
                </view>
                <input bindinput="phone" class="phone" id="phone" placeholder="请输入{{Pageinfo.book_Tname.length==0?'联系电话':Pageinfo.book_Tphone}}" placeholderClass="placeholder-class" value="{{phone}}"></input>
            </view>
            <view class="input-list" wx:if="{{Pageinfo.book_hideaddress!='-1'}}">
                <view class="l-title">
          {{Pageinfo.book_Taddress.length==0?'联系地址':Pageinfo.book_Taddress}}
          <strong>*</strong>
                </view>
                <input bindinput="address" class="address" id="address" placeholder="请输入{{Pageinfo.book_Taddress.length==0?'联系地址':Pageinfo.book_Taddress}}" placeholderClass="placeholder-class" value="{{address}}"></input>
                <view bindtap="getaddress" class="getaddress">
                    <image src="/images/icon/address.png"></image>
                </view>
            </view>
            <view class="input-list">
                <view class="l-title">
          {{Pageinfo.book_Tservice.length==0?'服务项目':Pageinfo.book_Tservice}}
          <strong>*</strong>
                </view>
                <picker bindchange="bindCountryCodeChange" mode="selector" range="{{svalue}}" value="{{sid}}">
                    <input class="r-input" disabled="true" id="service" placeholder="请输选择{{Pageinfo.book_Tservice.length==0?'服务项目':Pageinfo.book_Tservice}}" placeholderClass="placeholder-class" value="{{service[serviceId]}}"></input>
                </picker>
            </view>
            <view class="input-list">
                <view class="l-title">
          {{Pageinfo.book_Ttech.length==0?'服务技师':Pageinfo.book_Ttech}}
          <strong>*</strong>
                </view>
                <picker bindchange="bindCountryCodeChangetech" mode="selector" range="{{tvalue}}" value="0">
                    <input class="r-input" disabled="true" id="service" placeholder="请选择{{Pageinfo.book_Ttech.length==0?'服务技师':Pageinfo.book_Ttech}}" value="{{tArr[tsid]}}"></input>
                </picker>
            </view>
            <view bindtap="Getdate" class="input-list">
                <view class="l-title">
          {{Pageinfo.book_Tdate.length==0?'日期时间':Pageinfo.book_Tdate}}
          <strong>*</strong>
                </view>
                <input  class="r-input-c2" disabled="true" id="time" placeholder="请选择服务时段" placeholderClass="placeholder-class" value="{{date}}"></input>
                <input class="r-input-c2" disabled="true" id="time" placeholder="" value="{{time}}"></input>
                <view bindtap="Getdate" class="r_ico">
                    <image src="/images/icon/Gettime.png"></image>
                </view>
            </view>
            <view class="input-list" wx:if="{{Pageinfo.book_hidecard!='-1'}}">
                <view class="l-title">
         {{Pageinfo.book_Tcard.length==0?'优惠券':Pageinfo.book_Tcard}}
                </view>
                <input bindtap="getcard" class="card" disabled="true" id="card" placeholder="有 {{cardNum}} 张优惠券符合供您选择使用" placeholderClass="placeholder-class" value="{{selectcardtitle}}"></input>
                <view bindtap="getcard" class="getcard">
                    <image src="/images/icon/getcard.png"></image>
                </view>
            </view>
        </view>
        <button class="bottom-book {{disabled=='true'?'disabled':''}}" data-dis="{{disabled}}" formType="submit">立即预约</button>
    </form>
</view>
