.nav-cardmen {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100rpx;
    white-space: nowrap;
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,1)),color-stop(0.93,rgba(255,255,255,.93)),to(rgba(255,255,255,0)));
    border-bottom: 1rpx solid #d9d9d9;
    border-top: 1rpx solid #d9d9d9;
}

.nav-cardmen-list {
    width: 50%;
    height: 100rpx;
    display: inline-block;
    line-height: 100rpx;
    font-size: 30rpx;
    text-align: center;
}

.nav-cardmen-r {
    width: 50%;
    height: 100rpx;
    display: inline-block;
    line-height: 100rpx;
    font-size: 30rpx;
    text-align: center;
}

.nav-cardmen-active {
    color: #8A2BE2;
    border-bottom: 1rpx solid #8A2BE2;
}

.nocard {
    width: 200rpx;
    height: 230rpx;
    margin-top: 250rpx;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.nocard image {
    width: 200rpx;
    height: 200rpx;
}

.nocard text {
    font-size: 30rpx;
    color: #d9d9d9;
    text-align: center;
}

.cardBox {
    width: auto;
    margin-top: 100rpx;
    padding: 0 20rpx;
}

.cardlist {
    width: 710rpx;
    height: 150rpx;
    box-shadow: 0px 2px 6px #ddd;
    border-radius: 8rpx;
    margin-top: 20rpx;
    opacity: 0;
    animation: rise 3s cubic-bezier(0.19,1,0.22,1) .25s forwards;
}

@keyframes rise {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.cardlist image {
    width: 80rpx;
    height: 80rpx;
    display: block;
    float: left;
    border-radius: 50%;
    border: #fff 1px solid;
    margin: 35rpx 30rpx;
}

.textBox {
    width: 400rpx;
    height: 150rpx;
    float: left;
}

.cardcompanyname {
    width: 100%;
    overflow: hidden;
    height: 80rpx;
    color: #fff;
    text-shadow: 0px 1px 1px #888;
    line-height: 80rpx;
    font-size: 30rpx;
}

.cardname {
    width: 100%;
    overflow: hidden;
    height: 70rpx;
    color: #fff;
    text-shadow: 0px 1px 2px #888;
    font-size: 40rpx;
}

.receivecard {
    width: 80rpx;
    height: 80rpx;
    float: right;
    border: #fff 1px solid;
    border-radius: 50%;
    margin-top: 35rpx;
    margin-right: 30rpx;
    line-height: 80rpx;
    color: #fff;
    text-align: center;
    font-size: 30rpx;
}

page {
    font-family: -apple-system-font,Helvetica Neue,Helvetica,sans-serif;
    font-size: 10pt;
    line-height: 150%;
    color: #666;
    height: 100%;
}

.container {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 100rpx;
}