/* mii_ang/pages/coupon/coupon.wxss */

@import "../../template/Toad.wxss";

@import "../../template/menu.wxss";

@import "../../../__wuBaseWxss__/0.wxss";

@import "../../template/loading.wxss";

.container {
  height: 100%;
  width: 100%;
}

page {
  height: 1418rpx;
  width: 750rpx;
  background: #922527;
}

.bg-image {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.swiper-container {
  position: relative;
}

.swiper-container .swiper {
  width: 750rpx;
  height: 400rpx;
}

.img {
  width: 100%;
  height: 100%;
}

.info-container {
  position: absolute;
  top: 450rpx;
  width: 100%;
  height: 196rpx;
  opacity: 0.2;
  background-color: #d8d8d8;
}

.info-icon {
  position: absolute;
  margin-top: 60rpx;
  margin-left: 50rpx;
}

.info-icon .icon-img {
  position: relative;
  margin-left: 140rpx;
  width: 120rpx;
  height: 128rpx;
}

.info-banner {
  position: absolute;
  margin-top: 160rpx;
  margin-left: 136rpx;
}

.info-text {
  margin-left: 78rpx;
  font-size: 24rpx;
  color: #ffffff;
  letter-spacing: 4rpx;
}

.info-text-leisure {
  margin-left: 48rpx;
  font-size: 24rpx;
  color: #ffffff;
  letter-spacing: 4rpx;
}

.info-text-monash {
  margin-left: 200rpx;
  font-size: 24rpx;
  color: #ffffff;
  letter-spacing: 4rpx;
}

.discount-title {
  padding-top: 20rpx;
  padding-bottom: 20rpx;
  margin-left: 40rpx;
  /* height: 60rpx; */
  /* position: absolute; */
  margin-top: 340rpx;
  padding-left: 20rpx;
  font-size: 24rpx;
  letter-spacing: 2rpx;
  vertical-align: middle;
  color: #ffffff;
}

.card-container {
  width: 100%;
  padding-top: 20rpx;
  padding-left: 26rpx;
  padding-bottom: 40rpx;
  background: #922527;
}

.card-container .swiper {
  width: 654rpx;
  height: 700rpx;
}

.card-container .swiper .wx-swiper-dot-active {
  opacity: 0.52;
  width: 14rpx;
  height: 14rpx;
}

.card {
  /* padding-top: 20rpx; */
  margin-top: 20rpx;
  margin-left: 50rpx;
  background-color: #ffffff;
  height: 180rpx;
  width: 600rpx;
  /* padding: 10rpx; */
  border-radius: 15rpx;
  box-shadow: 0 0 4rpx 0;
}

.card-info {
  float: left;
  position: relative;
  margin-left: 14rpx;
  overflow: hidden;
}

.card-title {
  font-family: PingFangSC-Medium;
  font-size: 24rpx;
  color: #4a4a4a;
  letter-spacing: 0.5px;
  margin-top: 28rpx;
}

.card-notice {
  position: relative;
  margin-top: 5rpx;
  font-size: 28rpx;
  color: #d0021b;
  letter-spacing: 0.58rpx;
  width: 260rpx;
  height: 40rpx;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-date {
  font-family: PingFangSC-Light;
  position: relative;
  margin-top: 7rpx;
  font-size: 24rpx;
  color: #4a4a4a;
  letter-spacing: 0.84rpx;
}

.card-available {
  position: absolute;
  margin-top: 140rpx;
  right: 90rpx;
  font-size: 10px;
  color: #4a4a4a;
  letter-spacing: 0.42px;
}
.add-button {
  font-family: PingFangSC-Medium;
  position: absolute;
  float: right;
  margin-left: 450rpx;
  margin-top: 60rpx;

  font-size: 20rpx;
  background-color: #000;
  border-radius: 30rpx;
  color: #fff;
}

.no-add-button {
  position: absolute;
  float: right;
  margin-left: 550rpx;
  margin-top: 60rpx;
  font-size: 20rpx;
  background-color: #f5a623;
  border-radius: 30rpx;
  color: #fff;
}

.card-img {
  float: left;
  width: 144rpx;
  height: 144rpx;
  border-radius: 10rpx;
  /* padding: 10rpx; */
  padding-top: 10rpx;
  padding-left: 5rpx;
}

.category-container {
  position: absolute;
  top: 426rpx;

  font-size: 24rpx;
  color: #ffffff;
  letter-spacing: 0.5px;
  width: 100%;
}

.category-item {
  margin-left: 78rpx;
}

.category-detail {
  margin-bottom: 20rpx;
  vertical-align: center;
  background-color: rgba(212, 212, 212, 0.2);
  width: 100%;
  height: 100rpx;
}
.category-detail2 {
  margin-bottom: 30rpx;
  vertical-align: center;
  padding-top: none;
  background-color: rgba(212, 212, 212, 0.2);
  width: 100%;
  height: 140rpx;
}
.category-text {
  position: relative;
  margin-left: 70rpx;
  margin-top: 40rpx;
}
.category-text1 {
  position: relative;
  margin-bottom: 70rpx;
  margin-left: 70rpx;
}
.category-text2 {
  bottom: 200rpx;
}
.category-area {
  margin-bottom: 10rpx;
  margin-left: 70rpx;
}
.category {
  margin-bottom: 10rpx;
  margin-left: 70rpx;
}
.banner {
  width: 100%;
  height: 210rpx;
}
.see-more {
  /* background-color: #922527; */
  /* color: #FFFFFF; */
  color: #9b9b9b;
  display: inline-flex;
  position: absolute;
  right: 20rpx;
}
.icon {
  width: 48rpx;
  height: 30rpx;
  vertical-align: middle;
  margin-right: 20rpx;
}

.coupon-title {
  vertical-align: middle;
  color: #ffffff;
}
.split {
  height: 30rpx;
}
