@import "../../../__wuBaseWxss__/0.wxss";

.filter {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 88rpx;
    white-space: nowrap;
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,1)),color-stop(0.93,rgba(255,255,255,.93)),to(rgba(255,255,255,0)));
    border-bottom: 1rpx solid #d9d9d9;
}

.filter-item {
    width: auto;
    height: auto;
    margin: 20rpx;
    padding: 0 20rpx 0 20rpx;
    margin-left: 0;
    border-radius: 5rpx;
    box-shadow: 0px 0px 4px #ddd;
    background: #bfbfbf -webkit-linear-gradient(-45deg,#bfbfbf,#888);
    text-align: center;
    display: inline-block;
}

.filter-item text {
    width: 100%;
    height: 100%;
    line-height: 48rpx;
    font-size: 24rpx;
    color: #fff;
    display: block;
}

.filter-active {
    background: -webkit-linear-gradient(-45deg,#fda78e,#fd677f);
    transform: scale(1.1);
    transition: all 0.5s;
}

.filter-item#all {
    margin-left: 20rpx;
}

.container {
    background-color: #fff;
    padding: 88rpx 0rpx 0;
    display: flex;
    flex-direction: column;
}

.item-list {
    width: 710rpx;
    height: 200rpx;
    box-shadow: 0px 0px 6px #ddd;
    border-top-left-radius: 30rpx;
    border-top-right-radius: 0rpx;
    border-bottom-right-radius: 60rpx;
    border-bottom-left-radius: 10rpx;
    margin: 20rpx auto 0rpx;
    background: #fff;
}

.avatar {
    width: 120rpx;
    height: 120rpx;
    border-radius: 150rpx;
    border: #fff 1rpx solid;
    margin: 39rpx;
    position: absolute;
    box-shadow: 0px 0px 2px rgba(181,148,218,.9);
}

.item-top {
    width: 510rpx;
    height: 120rpx;
    padding-left: 200rpx;
    background: #8900ff;
    border-top-left-radius: 30rpx;
    border-top-right-radius: 0rpx;
    background: rgba(181,138,218,.5);
}

.details {
    width: 150rpx;
    height: 60rpx;
    border: 1rpx #fff solid;
    border-radius: 60rpx;
    color: #fff;
    text-align: center;
    line-height: 60rpx;
    position: absolute;
    margin-left: 520rpx;
    margin-top: 40rpx;
    font-size: 40rpx;
}

.name {
    width: 510rpx;
    height: 120rpx;
    line-height: 120rpx;
    font-size: 40rpx;
    color: #8900ff;
}

.tag {
    display: inline-block;
    width: auto;
    height: 32rpx;
    padding: 0px 15rpx;
    border-radius: 40rpx;
    background: #fcb200;
    color: #fff;
    font-size: 24rpx;
    border: 4rpx #fff solid;
    line-height: 32rpx;
    text-align: center;
    margin: 40rpx 10rpx;
    position: absolute;
}

.item-bottom {
    width: 510rpx;
    height: 80rpx;
    padding-left: 200rpx;
    position: absolute;
}

.skill {
    height: 50rpx;
    max-width: 120rpx;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 24rpx;
    color: #5c6ed4;
    background: #e3e5ff;
    border-radius: 50rpx;
    text-align: center;
    line-height: 50rpx;
    margin-top: 15rpx;
    margin-left: 15rpx;
    padding: 0rpx 20rpx;
    display: inline-block;
}

.skill:nth-child(1) {
    margin-left: 0px;
}